body {
    padding-top: 60px; /* Navbar'ı gölgelememesi için */
    margin-bottom: 60px;
}


.footer {
    position: fixed; /* Sabit pozisyon */
    bottom: 0; /* Sayfanın altına yapıştır */
    width: 100%; /* Tam genişlik */
    background-color: #f5f5f5; /* Arka plan rengi */
    text-align: center; /* Metin hizalama */
    padding: 10px 0; /* Kenar boşlukları */
}

.main-container {
    border: 2px solid #ccc; /* Kenarlık kalınlığı ve rengi */
    background-color: wheat; /* Arka plan rengi */
    padding: 20px; /* İçerik ile kenarlık arasındaki boşluk */
    border-radius: 10px; /* Kenar yuvarlaklığı */
}

.foto {
    background-image: url('/AracKiralama/images/uzun.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

   
}





/* Buton stilleri */
.btn-primary {
    background-color: #ff9100; /* Arka plan rengi */
    color: #fff; /* Yazı rengi */
    border: none; /* Kenar çizgisi */
    border-radius: 5px; /* Köşe yuvarlaklığı */
    padding: 10px 20px; /* Buton iç içe içerik */
    text-align: center; /* Metin hizalama */
    text-decoration: none; /* Metin altı çizgisi */
    display: inline-block; /* Inline blok öğesi */
    transition: background-color 0.3s ease; /* Geçiş efekti */
}

.btn-primary:hover {
    background-color: #ff7b00; /* Hover arka plan rengi */
    color: #fff; /* Hover yazı rengi */
    text-decoration: none; /* Hover metin altı çizgisi */
}

/* Navbar stilleri */
.navbar {
    background-color: #d8c305; /* Hexadecimal renk değeri */
    opacity: 0.4;
    height: 100px;
    padding: 10px; /* Sağ ve sol boşluk */
    font-weight: bold;
    
}

/* Navbar linklerinin stilleri */
.navbar-nav .nav-link {
    color: #0a0a00; /* Yazı rengi */
    font-weight: bold;
    text-align: right;
}

/* Navbar linklerinin hover stilleri */
.navbar-nav .nav-link:hover {
    color: white; /* Hover rengi */
}
#blog {
    background-color:#ffad42;
}
/* Kart stilleri */
.card {
    background-color: rgba(255, 255, 255, 0.9); /* Kart arka plan rengi (saydam beyaz) */
    border: 3px solid #ff7b00;
    border-radius: 10px; /* Kart kenar yuvarlaklığı */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);/* Kart gölgesi */
    transition: all 0.3s ease;; /* Geçiş efekti */
    margin-bottom: 20px;
    height: auto;
}

.card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Kart üzerine gelindiğinde gölgeyi artır */
}

.card-body {
    padding: 20px; /* Kart içerik boşluğu */
}

.card-img-top {
    border-top-left-radius: 10px; /* Kart resmi köşe yuvarlaklığı */
    border-top-right-radius: 10px; /* Kart resmi köşe yuvarlaklığı */
}