body {
    padding-top: 60px; /* Navbar'ı gölgelememesi için */
    margin-bottom: 60px;
    background-color: white; /* Arka plan rengi */
    color: black; /* Metin rengi */
}



.main-container {
    border: 2px solid #0e0404; /* Kenarlık kalınlığı ve rengi */
    background-color: wheat; /* Arka plan rengi */
    padding: 20px 350px; /* İçerik ile kenarlık arasındaki boşluk */
  
    border-radius: 10px; /* Kenar yuvarlaklığı */
align-items: center;
}

.foto {
 
    background-image: url('/AracKiralama/images/uzun.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 height:500px;

   
}


/* Sekmeli menü */
.nav-tabs {
    border-bottom: 2px solid #ccc; /* Sekme menüsü alt çizgisi */
    display: flex;
    justify-content: center;
}

.nav-item {
    margin-right: 10px; /* Sekme arasındaki boşluk */
}

.nav-link {
    color: #333; /* Sekme metin rengi */
    font-weight: bold; /* Sekme metin kalınlığı */
    text-decoration: none; /* Sekme metin alt çizgisi kaldırma */
    padding: 10px 20px; /* Sekme içerik boşluğu */
    border-bottom: 2px solid transparent; /* Sekme alt çizgisi */
    transition: border-color 0.3s ease; /* Geçiş efekti */
}
.footer-container {
    background-color: black;
    position: fixed; /* Sabit pozisyon */
    bottom: 0; /* Sayfanın altına yapıştır */
    width: 100%; /* Tam genişlik */
    background-color: #030303; /* Arka plan rengi */
    text-align: center; /* Metin hizalama */
    padding: 10px 0; /* Kenar boşlukları */
}
.nav-link.active,
.nav-link:hover {
    color: #ffad42; /* Etkin veya üzerine gelindiğinde metin rengi */
    border-bottom-color: #007bff; /* Etkin veya üzerine gelindiğinde alt çizgi rengi */
}

.main-container {
    background-color: transparent; /* Ana içeriğin arka planını şeffaf yap */
    font-weight: bold;
    
}




/* Buton stilleri */
.btn-primary {
    background-color: #ff9100; /* Arka plan rengi */
    color: #000000; /* Yazı rengi */
    border: none; /* Kenar çizgisi */
    border-radius: 5px; /* Köşe yuvarlaklığı */
    padding: 10px 20px; /* Buton iç içe içerik */
    text-align: center; /* Metin hizalama */
    text-decoration: none; /* Metin altı çizgisi */
    display: inline-block; /* Inline blok öğesi */
    transition: background-color 0.3s ease; /* Geçiş efekti */
}

.btn-primary:hover {
    background-color: #ff7b00; /* Hover arka plan rengi */
    color: #fff; /* Hover yazı rengi */
    text-decoration: none; /* Hover metin altı çizgisi */
}



#blog {
    background-color:#ffad42;
}
/* Kart stilleri */
.card {
    background-color: rgba(255, 255, 255, 0.9); /* Kart arka plan rengi (saydam beyaz) */
    border: 3px solid #ff7b00;
    border-radius: 10px; /* Kart kenar yuvarlaklığı */
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.9);/* Kart gölgesi */
    transition: all 1s ease;; /* Geçiş efekti */
    margin-bottom: 20px;
    height: auto;
}

.card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Kart üzerine gelindiğinde gölgeyi artır */
}

.card-body {
    padding: 20px; /* Kart içerik boşluğu */
}

.card-img-top {
    border-top-left-radius: 10px; /* Kart resmi köşe yuvarlaklığı */
    border-top-right-radius: 10px; /* Kart resmi köşe yuvarlaklığı */
}






