
.footer-container {
    background-color: black;
    position: fixed; /* Sabit pozisyon */
    bottom: 0; /* Sayfanın altına yapıştır */
    width: 100%; /* Tam genişlik */
    background-color: #030303; /* Arka plan rengi */
    text-align: center; /* Metin hizalama */
    padding: 10px 0; /* Kenar boşlukları */
}
