body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.register-container {
    background-color: #007bff; /* Mavi */
    color: #fff; /* Beyaz */
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 100px auto;
}

h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #ffd700; /* Altın sarısı */
    color: #333; /* Gri */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #ffdf00; /* Daha parlak bir altın sarısı */
}
