body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.register-container {
    background-color: #3498db; /* Mavi */
    color: #fff; /* Beyaz */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 100px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-top: 0;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #f39c12; /* Altın sarısı */
    color: #fff; /* Beyaz */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #e67e22; /* Daha koyu bir altın sarısı */
}
